@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    html, body {
        height: 100%;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    *, *::after, *::before {
        box-sizing: inherit;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .shadow-gradient {
        /*background: linear-gradient(to bottom, rgba(0,0,0,0.06) 0%, rgba(55,55,55,0.49) 89%, rgba(55,55,55,0.71) 94%, rgba(55,55,55,1) 100%);*/
        background: linear-gradient(to bottom, rgba(0,0,0,0.06) 0%, rgba(155,155,155,0.49) 89%, rgba(155,155,155,0.71) 94%, rgba(255,255,255,1) 100%);
    }

    .shadow-gradient-dark {
        /*background: linear-gradient(to bottom, rgba(0,0,0,0.06) 0%, rgba(0,0,0,0.49) 89%, rgba(0,0,0,0.71) 94%, rgba(0,0,0,1) 100%);*/
        background: linear-gradient(to bottom, rgba(0,0,0,0.06) 0%, rgba(55,55,55,0.49) 89%, rgba(55,55,55,0.71) 94%, rgba(55,55,55,1) 100%);
    }

    .text-border {
        -webkit-text-stroke: 0.05rem black;
    }

    .text-border-thin {
        text-shadow: -0.25px 0 black, 0 0.25px black, 0.25px 0 black, 0 -0.25px black;
    }
}
